<ng-container>
  <div *ngIf="isLoading" 
       [@fadeInOut]
       class="fixed inset-0 z-50 flex items-center justify-center bg-[#0a192f]">
    <div class="text-center">
      <div [@scaleIn]
           class="mb-4 text-[#64ffda] text-4xl font-bold">
        ZM
      </div>
      <div [@lineExpand]
           class="h-0.5 bg-[#64ffda] mx-auto"
           [style.width.px]="200">
      </div>
    </div>
  </div>
  
  <ng-container *ngIf="!isLoading">
    <ng-content></ng-content>
  </ng-container>
</ng-container>